/*
Краткое описание описанных тут классов.
.font-resp-style( ..{breakpoint}-sz.. ) - адаптивные шрифты для всех широт экрана
    Производные : .h1-resp-style , .h3-resp-style, .h4-resp-style,  .resp-font(@xl-font-size);
.rounded(@r) - округляет углы - радиус в процентах желательно.
.transition(duration_animation; time_before_animation; animate_function); временные параметры можно указывать как в секундах, так и просто числом.
    ВНИМАНИЕ в данной миксины не учтенно transition-property, потому что к этому свойству нужны браузерные префиксы я реализовал его отдельно ниже.
.text{aligment(r,c,l)}-{breakpoint} - выравнивает по нужному краю текст  и для определённых широт экрана.
.unselectable() - делает элемент неспособным к выделеню текста внутри.
.outlineless() - Убираем обводку при нажатии или выделении элемента
.button (@r:27px; @button-height;)- минимальный шаблон для кнопки.
.ul (@img-path; @marker-side:20px; @li-margin-bottom:0px; @marker-left: 0px; @marker-top) - шаблон для адаптивного списка
    Также стоит учитывать, что, если элементы списка будут располагаться по середине (text-align: center;) то казаться будет что он
    слегка сдвинуть в левый бок, дело в том, что маркер имеет абсолютное позиционирование, поэтому ширины как бы не имеет для других элементов.
    Чтобы испаравить ситуацию нужно .li-content добавить свойство left: @marker-side/2;
.horizontal-ul - Список, который располагается по горизонтали(не миксина)
.transition-property(@property-name) - задаёт кросбраузерно свойство за изменением которого нужно следить и при изменении которого нужно произвести анимацию(обычно идёт в связке с transition-duration).
    ВНИМАНИЕ при использовании этой миксины на одну строку выше этой mixin'ы @property-name: dummy-property(или любое другое значение); в противном случае будет вылезать ошибка @property-name undefined, я так и не нашёл причину этой проблемы.
.transition-duration (@duration)- Задаёт время время выполнения анимации (можно указывать как в секундах, так и просто числом)
.square(@side) - задаёт width и height одинаковую ширину
.centeredX( @transLeft: -50%; @left: 50% ) - центрует по горизотали текст или блок относительно родителя.
.centeredY( @transTop: -50%; @top: 50%) - центрует по вертикали текст или блок относительно родителя.
.centered( @transLeft: -50%; @transTop: -50%; @top: 50%; @left: 50%) - центрует по горизотали и вертикали текст или блок относительно родителя.
.bordered() - задаёт границу красного цвета.
.anchornless() - Убирает все стили по умолчанию у ссылки.
.my(@value: auto)
.mx(@value: auto)
.my-auto()
.mx-auto()
.px(@value: 10px)
.py(@value: 10px)
*/
.textr {
  text-align: right;
}
.textr-none {
  text-align: inherit;
}
@media (min-width: 576px) {
  .textr-sm {
    text-align: right;
  }
  .textr-sm-none {
    text-align: inherit;
  }
}
@media (min-width: 768px) {
  .textr-md {
    text-align: right;
  }
  .textr-md-none {
    text-align: inherit;
  }
}
@media (min-width: 992px) {
  .textr-lg {
    text-align: right;
  }
  .textr-lg-none {
    text-align: inherit;
  }
}
@media (min-width: 1200px) {
  .textr-xl {
    text-align: right;
  }
  .textr-xl-none {
    text-align: inherit;
  }
}
.textc {
  text-align: center;
}
.textc-none {
  text-align: inherit;
}
@media (min-width: 576px) {
  .textc-sm {
    text-align: center;
  }
  .textc-sm-none {
    text-align: inherit;
  }
}
@media (min-width: 768px) {
  .textc-md {
    text-align: center;
  }
  .textc-md-none {
    text-align: inherit;
  }
}
@media (min-width: 992px) {
  .textc-lg {
    text-align: center;
  }
  .textc-lg-none {
    text-align: inherit;
  }
}
@media (min-width: 1200px) {
  .textc-xl {
    text-align: center;
  }
  .textc-xl-none {
    text-align: inherit;
  }
}
.textl {
  text-align: left;
}
.textl-none {
  text-align: inherit;
}
@media (min-width: 576px) {
  .textl-sm {
    text-align: left;
  }
  .textl-sm-none {
    text-align: inherit;
  }
}
@media (min-width: 768px) {
  .textl-md {
    text-align: left;
  }
  .textl-md-none {
    text-align: inherit;
  }
}
@media (min-width: 992px) {
  .textl-lg {
    text-align: left;
  }
  .textl-lg-none {
    text-align: inherit;
  }
}
@media (min-width: 1200px) {
  .textl-xl {
    text-align: left;
  }
  .textl-xl-none {
    text-align: inherit;
  }
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.outlineless {
  outline: none;
}
.horizontal-ul li {
  list-style: none;
  display: inline-block;
}
a.my-anchor {
  text-decoration: none;
  color: inherit;
}
a.my-anchor:hover {
  text-decoration: none;
  color: inherit;
}
a.my-anchor:active {
  text-decoration: none;
  color: inherit;
}
.centeredX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.centeredY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bordered {
  border: 2px solid red;
}
.anchornless:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.anchornless:hover {
  color: inherit;
  text-decoration: inherit;
}
.anchornless:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'), url('../fonts/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'trueno';
  src: url('../fonts/trueno.bd-webfont.woff2') format('woff2'), url('../fonts/trueno.bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container-fluid h1,
.container h1 {
  font-family: trueno;
  text-align: center;
}
@media (max-width: 575px) {
  .container-fluid h1,
  .container h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid h1,
  .container h1 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid h1,
  .container h1 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid h1,
  .container h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  .container-fluid h1,
  .container h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1700px) {
  .container-fluid h1,
  .container h1 {
    font-size: 2.4rem;
  }
}
.container-fluid h3,
.container h3 {
  font-family: trueno;
  text-align: center;
}
@media (max-width: 575px) {
  .container-fluid h3,
  .container h3 {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid h3,
  .container h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid h3,
  .container h3 {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid h3,
  .container h3 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  .container-fluid h3,
  .container h3 {
    font-size: 36px;
  }
}
@media (min-width: 1700px) {
  .container-fluid h3,
  .container h3 {
    font-size: 36px;
  }
}
.container-fluid h4,
.container h4 {
  font-family: trueno;
  text-align: center;
}
@media (max-width: 575px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.35rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.55rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.55rem;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.55rem;
  }
}
@media (min-width: 1700px) {
  .container-fluid h4,
  .container h4 {
    font-size: 1.55rem;
  }
}
@media (max-width: 575px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 18.3px;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  p {
    font-size: 18.3px;
  }
}
@media (min-width: 1700px) {
  p {
    font-size: 18.3px;
  }
}
a,
.container a {
  outline: none;
}
a:link,
.container a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a:hover,
.container a:hover {
  color: inherit;
  text-decoration: inherit;
}
a:visited,
.container a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a:link,
.container a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a:hover,
.container a:hover {
  color: inherit;
  text-decoration: inherit;
}
a:visited,
.container a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
body .container {
  font-family: coolvetica;
}
nav.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#5561a9), to(#73c6f0));
  background: -webkit-linear-gradient(left, #5561a9, #73c6f0);
  background: -o-linear-gradient(left, #5561a9, #73c6f0);
  background: linear-gradient(90deg, #5561a9, #73c6f0);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 62px;
}
@media (max-width: 991px) {
  nav.navbar {
    padding-left: 0;
    padding-right: 0;
  }
}
nav.navbar .container {
  position: relative;
}
@media (max-width: 991px) {
  nav.navbar .container {
    height: 100%;
    max-width: 100%;
  }
}
nav.navbar .container a {
  color: #fff !important;
}
nav.navbar .container .navbar-brand {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
@media (max-width: 991px) {
  nav.navbar .container .navbar-brand {
    height: 100%;
    position: relative;
    bottom: 11px;
  }
}
nav.navbar .container .navbar-brand img.logo {
  width: 37px;
  height: 42px;
  position: relative;
  top: -6px;
  margin-left: 6px;
}
nav.navbar .container .navbar-brand span.logo {
  font-family: trueno;
  font-weight: bold;
  font-size: 35px;
  margin-left: 23px;
}
nav.navbar .container .sandwich {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 2px;
  z-index: 21;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.navbar .container .sandwich {
    display: none;
  }
}
nav.navbar .container .sandwich span {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
nav.navbar .container .sandwich span,
nav.navbar .container .sandwich span::before,
nav.navbar .container .sandwich span::after {
  display: block;
  right: 0;
  height: 3px;
  background-color: white;
  -webkit-transition-property: -webkit-background-color;
  /* Будет отслеживать изменение background-color, для создания эффекта длиной в 0.3s (см ниже)*/
  -o-transition-property: -o-background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-property: -webkit-transform;
  /* Будет отслеживать изменение background-color, для создания эффекта длиной в 0.3s (см ниже)*/
  -o-transition-property: -o-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
nav.navbar .container .sandwich span::before,
nav.navbar .container .sandwich span::after {
  position: absolute;
  content: "";
}
nav.navbar .container .sandwich span::before {
  top: -9px;
  width: 20px;
}
nav.navbar .container .sandwich span::after {
  top: 9px;
  width: 33px;
}
nav.navbar .container .sandwich.clicked {
  z-index: 99;
}
nav.navbar .container .sandwich.clicked span {
  background-color: transparent;
}
nav.navbar .container .sandwich.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
  width: 33px;
}
nav.navbar .container .sandwich.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
      -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}
nav.navbar .container .sandwich.clicked span::after,
nav.navbar .container .sandwich.clicked span::before {
  background-color: black;
}
nav.navbar .container ul.navMenu {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  font-size: 14px;
  list-style-type: none;
}
@media (min-width: 992px) {
  nav.navbar .container ul.navMenu {
    margin-top: 10px;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
  }
  nav.navbar .container ul.navMenu li {
    margin-top: -2px;
    margin-left: 21px;
    display: inline-block;
  }
  nav.navbar .container ul.navMenu li a {
    padding-bottom: 0;
  }
  nav.navbar .container ul.navMenu li a.underlined {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid white;
  }
}
@media (max-width: 991px) {
  nav.navbar .container ul.navMenu {
    background: -webkit-gradient(linear, left top, right top, from(#6badde), to(#73c6f0));
    background: -webkit-linear-gradient(left, #6badde, #73c6f0);
    background: -o-linear-gradient(left, #6badde, #73c6f0);
    background: linear-gradient(90deg, #6badde, #73c6f0);
    position: absolute;
    width: 250px;
    right: 0;
    top: 54px;
    z-index: 20;
    padding: 0px;
    padding-left: 25px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  nav.navbar .container ul.navMenu li {
    -webkit-transform: translateX(60px);
        -ms-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
  }
  nav.navbar .container ul.navMenu li:last-of-type {
    margin-bottom: 0px;
  }
  nav.navbar .container ul.navMenu li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
  }
  nav.navbar .container ul.navMenu li a.underlined {
    border-bottom: 3px solid;
    padding-bottom: 7px;
  }
  nav.navbar .container ul.navMenu li a:hover {
    color: #b7ac7f;
  }
  nav.navbar .container ul.navMenu.show {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  nav.navbar .container ul.navMenu.show li {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  nav.navbar .container ul.navMenu.show li:nth-child(1) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  nav.navbar .container ul.navMenu.show li:nth-child(2) {
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  nav.navbar .container ul.navMenu.show li:nth-child(3) {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
}
.first-screen {
  color: #fff;
  padding-top: 62px;
  background: -webkit-gradient(linear, left top, right top, from(#5561a9), to(#73c6f0));
  background: -webkit-linear-gradient(left, #5561a9, #73c6f0);
  background: -o-linear-gradient(left, #5561a9, #73c6f0);
  background: linear-gradient(90deg, #5561a9, #73c6f0);
}
@media (min-width: 992px) {
  .first-screen {
    padding-bottom: 84px;
  }
}
@media (max-width: 991px) {
  .first-screen {
    padding-bottom: 42px;
  }
}
.first-screen .container {
  text-align: center;
}
@media (min-width: 992px) {
  .first-screen .header-container {
    max-width: 872px;
  }
}
@media (min-width: 992px) {
  .first-screen .header-container {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .first-screen .header-container {
    margin-top: 15px;
  }
}
.first-screen .offer-container {
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .first-screen .offer-container {
    max-width: 738px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .first-screen .offer-container {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .first-screen .offer-container .column {
    width: 190px;
  }
}
.first-screen .offer-container .column .picture-container {
  height: 90px;
  position: relative;
}
.first-screen .offer-container .column .picture-container picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .first-screen .offer-container .column p {
    margin-bottom: 0;
  }
}
.sort-screen .search-data-container {
  font-family: trueno;
  position: relative;
  top: -84px;
}
.sort-screen .search-data-container a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.sort-screen .search-data-container a:hover {
  color: inherit;
  text-decoration: inherit;
}
.sort-screen .search-data-container a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.sort-screen .search-data-container a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.sort-screen .search-data-container a:hover {
  color: inherit;
  text-decoration: inherit;
}
.sort-screen .search-data-container a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.sort-screen .search-data-container .slider-container {
  cursor: default;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .sort-screen .search-data-container .slider-container {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 66px;
  }
}
@media (max-width: 575px) {
  .sort-screen .search-data-container .slider-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 180px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sort-screen .search-data-container .slider-container .ui-widget-content {
  background: -webkit-gradient(linear, left top, right top, from(#dcdcdc), to(#a6a6a6));
  background: -webkit-linear-gradient(left, #dcdcdc, #a6a6a6);
  background: -o-linear-gradient(left, #dcdcdc, #a6a6a6);
  background: linear-gradient(90deg, #dcdcdc, #a6a6a6);
  border-color: #6b6b6b;
  -webkit-border-radius: 0;
          border-radius: 0;
}
.sort-screen .search-data-container .slider-container .ui-slider-handle {
  background: #73c6f2;
  -webkit-border-radius: 0.6em;
          border-radius: 0.6em;
  width: 1.3em;
  height: 1.3em;
  outline: none;
}
.sort-screen .search-data-container .slider-container .ui-slider-range {
  background: #73c6f2;
  -webkit-border-radius: 0;
          border-radius: 0;
  z-index: 0;
}
@media (max-width: 575px) {
  .sort-screen .search-data-container .slider-container .slider {
    width: 225px;
  }
}
@media (min-width: 576px) {
  .sort-screen .search-data-container .slider-container .slider {
    width: 225px;
  }
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .slider-container .slider {
    width: 320px;
  }
}
.sort-screen .search-data-container .slider-container .slider .amount-container {
  display: inline-block;
  width: 50px;
  color: #71c5f3;
  position: relative ;
}
.sort-screen .search-data-container .slider-container .slider .amount-container .amount {
  border-bottom: 1px solid #71c5f3;
}
.sort-screen .search-data-container .slider-container .slider .slider-field {
  position: relative;
}
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container1,
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container2,
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container3,
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container4 {
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container1 .riska,
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container4 .riska {
  border-width: 2px;
}
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container2,
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-container3 {
  color: #bcbcbc;
}
.sort-screen .search-data-container .slider-container .slider .slider-field .riska {
  z-index: 10;
  top: -17px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  border-left: 1px solid #babab8;
  bottom: 10px;
}
.sort-screen .search-data-container .slider-container .slider .slider-field .riska-text {
  font-weight: 200;
}
.sort-screen .search-data-container .slider-container .left-slider .riska-container1 {
  left: 0%;
}
.sort-screen .search-data-container .slider-container .left-slider .riska-container2 {
  left: 32.43243243%;
}
.sort-screen .search-data-container .slider-container .left-slider .riska-container3 {
  left: 66.21621622%;
}
.sort-screen .search-data-container .slider-container .left-slider .riska-container4 {
  left: 100%;
}
.sort-screen .search-data-container .slider-container .right-slider .riska-container1 {
  left: 0%;
}
.sort-screen .search-data-container .slider-container .right-slider .riska-container2 {
  left: 31.03448276%;
}
.sort-screen .search-data-container .slider-container .right-slider .riska-container3 {
  left: 65.51724138%;
}
.sort-screen .search-data-container .slider-container .right-slider .riska-container4 {
  left: 100%;
}
.sort-screen .search-data-container .sort-tools {
  background: -webkit-gradient(linear, left top, right top, from(#5561a9), to(#73c6f0));
  background: -webkit-linear-gradient(left, #5561a9, #73c6f0);
  background: -o-linear-gradient(left, #5561a9, #73c6f0);
  background: linear-gradient(90deg, #5561a9, #73c6f0);
  border: 1px solid transparent;
  position: relative;
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .sort-tools {
    height: 50px;
  }
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools {
    min-height: 50px;
  }
}
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools {
  position: relative;
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .dropdown {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .dropdown .show {
    position: relative !important;
  }
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 420px;
    position: absolute;
    top: 25px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka {
    display: block !important;
    right: 0;
    position: absolute;
    top: 25px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka {
    margin-bottom: 10px;
  }
}
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-menu {
  float: none;
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists,
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka {
    display: none;
    position: relative;
  }
}
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-toggle,
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-toggle {
  width: 165px;
  color: #fff;
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-toggle,
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-toggle {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-menu,
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-menu {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-menu .dropdown-item,
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #e4e4e4;
  padding-left: 12px;
  padding-right: 12px;
}
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-menu .dropdown-item:last-child,
.sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-menu .dropdown-item:last-child {
  border: none;
}
@media (max-width: 991px) {
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sort-lists .dropdown-menu .dropdown-item,
  .sort-screen .search-data-container .sort-tools .lists-of-sort-tools .sortirovka .dropdown-menu .dropdown-item {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sort-screen .search-data-container .sort-tools .text-for-gear {
  color: #fff;
  width: 165px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sort-screen .search-data-container .sort-tools .gear {
  position: absolute;
  top: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  right: 5px;
  transition: 0.3s linear 0s;
  -moz-transition: 0.3s linear 0s;
  -webkit-transition: 0.3s linear 0s;
  -o-transition: 0.3s linear 0s;
  -webkit-transition-property: -webkit-transform;
  /* Будет отслеживать изменение background-color, для создания эффекта длиной в 0.3s (см ниже)*/
  -o-transition-property: -o-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.sort-screen .search-data-container .sort-tools .text-for-gear,
.sort-screen .search-data-container .sort-tools .gear,
.sort-screen .search-data-container .sort-tools .dropdown a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
}
.sort-screen .search-data-container .sort-tools .rotated {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.sort-screen .search-data-container .search-results {
  z-index: -1;
  background-color: #fefefe;
  position: relative;
  height: 68px;
  color: #5e4dcd;
}
.sort-screen .search-data-container .search-results .search-results-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
