@import "_default.less";
@font-face {//Для рядовых текстов
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {//Для заголовков
    font-family: 'trueno';
    src: url('../fonts/trueno.bd-webfont.woff2') format('woff2'),
         url('../fonts/trueno.bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container-fluid h1, .container h1{
    font-family:roboto-thin;
    .h1-resp-style(@xs-size:1.6rem;@x-size:60px);
}
.container-fluid h3, .container h3{
    font-family:Roboto;
    .h3-resp-style(@xl-size:36px);
}
.container-fluid h4, .container h4{
    font-family:Roboto;
    .h4-resp-style(@md-size: 1.55rem);   
}
p{
    .font-resp-style(@xs-sz: 14px; @md-sz: 16px; @lg-sz: 18.3px);
}
a{.outlineless();}

@left-gradient-color: #5561a9;
@right-gradient-color: #73c6f0;
.gradient(@deg:90deg; @first-color: @left-gradient-color; @second-color: @right-gradient-color){
    background: linear-gradient(@deg, @first-color, @second-color);
}
body{
    .container{
        font-family: coolvetica;
    }
}
@navbar-height: 62px;   
nav.navbar{
    .gradient();
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    height: @navbar-height;
    .container{
        @media(max-width: @lg - 1) { height: 100%;}

        a{color: #fff !important;}
        .navbar-brand{
            .unselectable();
            @media(max-width: @lg - 1) { 
                height: 100%;
                position: relative;
                bottom: 11px;
            }
            img.logo{
                width: 37px;
                height: 42px;
                position: relative;
                top: -6px;
                margin-left: 6px;
            }
            span.logo{
                font-family: trueno;
                font-weight: bold;
                font-size: 35px;
                margin-left: 23px;
            }

        }

        .sandwich{
            width: 50px;
            height: 50px;
            position: absolute;
            right: 10px;
            bottom: 9px; 
            z-index: 21;
            cursor: pointer;

            span{
                .unselectable();
                position: absolute;
                top: 50%;
                left: 50%;

                &, &::before, &::after{
                    display: block;
                    right: 0;
                    height: 3px;
                    background-color: white;

                    @property-name:fra;
                    .transition-property(background-color);
                    .transition-property(transform);
                    .transition-duration(.3);
                }
                &::before, &::after{
                    position: absolute;
                    content: "";
                }
                &::before{
                    top: -9px;
                    width: 20px;
                }
                &::after{
                    top: 9px;
                    width: 33px;
                }
            }

            &.clicked {
                z-index: 99;

                span{
                    background-color: transparent;

                    &::before{
                        transform: translateY(9px) rotate(45deg);
                        width: 33px;
                    }
                    &::after{transform: translateY(-9px) rotate(-45deg);}
                    &::after, &::before{background-color: black;}
                }
            }
        }

        nav#nav{
            @left-side-color-of-menu-bar-for-gradient: #6badde;
            .unselectable();
            @media(max-width: @lg - 1) { 
                .gradient(@first-color:@left-side-color-of-menu-bar-for-gradient);
                position: absolute;
                width: 250px;
                right: 0;
                top: @navbar-height;
                z-index: 20;
                padding: 0px;
                transform: translateX(100%);
                transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                ul.navMenu li{
                    transform: translateX(60px);
                    opacity: 0;
                    transition: all 0.3s ease;
                    color: #fff;

                    &:last-of-type{margin-bottom:0px;}
                    a{
                        @vert-ref-pad: 10px;
                        display: inline-block;
                        color:#fff;
                        text-decoration: none;
                        padding: @vert-ref-pad 0;

                        &.underlined{
                            @ref-border-width: 3px;
                            border-bottom: @ref-border-width solid;
                            padding-bottom: @vert-ref-pad - @ref-border-width;
                        }
                        &:hover{color:#b7ac7f;}
                    }
                }

                &.show{
                    transform: translateX(0px);
                    & ul.navMenu li{
                        transform: translateX(0px);
                        opacity: 1;

                        &:nth-child(1){transition-delay: 0.2s;}
                        &:nth-child(2){transition-delay: 0.4s;}
                        &:nth-child(3){transition-delay: 0.6s;}

                    }
                }
            }
            ul.navMenu{
                
                font-size: 14px;
                list-style-type: none;

                @media(min-width: @lg) { 
                    margin-top: 10px;

                    li{
                        margin-top: -2px;
                        margin-left: 21px;
                        display: inline-block;
                        a{
                            padding-bottom: 0;

                            &.underlined{
                                display: inline-block;
                                padding-left: 0;
                                padding-right: 0;
                                border-bottom: 3px solid white;
                            }
                        }
                    }
                }
                @media(max-width: @lg - 1) { 
                    
                }
            }
        }
    }
}
.first-screen{
    padding-top: @navbar-height;
    .gradient();
    .container{
        .column{
            display: inline-block;
            text-align: center;
        }
    }
}