!!! 5
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="UTF-8")/
    %title BestLoan
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    %link(href="css/style.css" rel="stylesheet")/
    %link(href="css/libs.min.css" rel="stylesheet prefetch")/
  %body
    %nav.navbar.navbar-expand-lg.fixed-top.navbar-light#nav
      .container
        %a.navbar-brand(href="#!") 
          %img.logo(src="img/shapka/logo.png")
          %span.logo Bestloan
        .sandwich
          %span
        %ul.navMenu
          %li
            %a.nav-link.underlined(data-value="about_us" href="#!")
              О КОМПАНИИ
              %span.sr-only (current)
          %li
            %a.nav-link(data-value="wishing" href="#!") ПОЛЕЗНАЯ ИНФОРМАЦИЯ
          %li.nav-item
            %a.nav-link(data-value="feedback" href="#!") КОНТАКТЫ
    .first-screen
      .container.header-container
        %h1 Bestloan - сервис сравнения онлайн кредитов в Украние
      .container.offer-container
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/eye-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/eye-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/eye-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/eye-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/eye-576.png")
              %img(alt="big brother is watching you" src="img/firstScreen/eye.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/diamond-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/diamond-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/diamond-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/diamond-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/diamond-576.png")
              %img(alt="diamond" src="img/firstScreen/diamond.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/clock-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/clock-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/clock-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/clock-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/clock-576.png")
              %img(alt="time is money" src="img/firstScreen/clock.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
    .sort-screen
      .container.search-data-container
        .slider-container
          .right-slider.my-auto
            %p
              %label(for="grivn-amount") СУММА ЗАЙМА
              %input#grivn-amount(type="text")
              %label(for="grivn-amount") ГРН
            .slider-field
              #grivn-slider
              .riska-container1
                .riska-text 200
                .riska
              .riska-container2
                .riska-text 5,000
                .riska
              .riska-container3
                .riska-text 10,000
                .riska
              .riska-container4
                .riska-text 15,000
                .riska
      .container.search-results  
    %script(src="js/libs.min.js")
    %script(src="js/script.js")