!!! 5
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="UTF-8")/
    %title BestLoan
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    %link(href="css/style.css" rel="stylesheet")/
    %link(href="css/libs.min.css" rel="stylesheet prefetch")/
  %body
    %nav.navbar.navbar-expand-lg.fixed-top.navbar-light#nav
      .container
        %a.navbar-brand(href="#!") 
          %img.logo(src="img/shapka/logo.png")
          %span.logo Bestloan
        .sandwich
          %span
        %ul.navMenu
          %li
            %a.nav-link.underlined(data-value="about_us" href="#!")
              О КОМПАНИИ
              %span.sr-only (current)
          %li
            %a.nav-link(data-value="wishing" href="#!") ПОЛЕЗНАЯ ИНФОРМАЦИЯ
          %li.nav-item
            %a.nav-link(data-value="feedback" href="#!") КОНТАКТЫ
    .first-screen
      .container.header-container
        %h1 Bestloan - сервис сравнения онлайн кредитов в Украние
      .container.offer-container
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/eye-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/eye-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/eye-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/eye-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/eye-576.png")
              %img(alt="big brother is watching you" src="img/firstScreen/eye.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/diamond-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/diamond-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/diamond-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/diamond-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/diamond-576.png")
              %img(alt="diamond" src="img/firstScreen/diamond.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
        .column
          .picture-container
            %picture
              %source(media="(min-width: 1200px)" srcset="img/firstScreen/clock-1200.png")
              %source(media="(min-width: 992px)" srcset="img/firstScreen/clock-992.png")
              %source(media="(min-width: 768px)" srcset="img/firstScreen/clock-768.png")
              %source(media="(min-width: 576px)" srcset="img/firstScreen/clock-576.png")
              %source(media="(max-width: 575px)" srcset="img/firstScreen/clock-576.png")
              %img(alt="time is money" src="img/firstScreen/clock.png")
          %h4 Безопасно
          %p Оптимальный вариант, кредиты без процентов
    .sort-screen
      .container.search-data-container
        .slider-container
          .slider.left-slider.my-auto
            %p
              %label(for="grivn-amount") СУММА ЗАЙМА 
              %span.amount-container.textc
                %span.amount#grivn-amount
              %label(for="grivn-amount") ГРН
            .slider-field
              #grivn-slider
              .riska-container1
                .riska-text 200
                .riska
              .riska-container2
                .riska-text 5,000
                .riska
              .riska-container3
                .riska-text 10,000
                .riska
              .riska-container4
                .riska-text 15,000
                .riska
          .slider.right-slider.my-auto
            %p
              %label(for="days-amount") НА СРОК
              %span.amount-container.textc
                %span.amount#days-amount
              %label(for="days-amount") ДНЕЙ
            .slider-field
              #days-slider
              .riska-container1
                .riska-text 1
                .riska
              .riska-container2
                .riska-text 10
                .riska
              .riska-container3
                .riska-text 20
                .riska
              .riska-container4
                .riska-text 30
                .riska
        .sort-tools
          .lists-of-sort-tools.mx-auto
            .sort-lists.navbar-nav
              .dropdown#dd
                %a.dropdown-toggle(data-toggle="dropdown" href="#!" data-boundary= "dd")
                  МОЙ ГОРОД
                .dropdown-menu(aria-labelledby="dropdownMenuLink")
                  %a.dropdown-item(href="#!") Харьков
                  %a.dropdown-item(href="#!") Киев
                  %a.dropdown-item(href="#!") Харьков
                  %a.dropdown-item(href="#!") Киев
                  %a.dropdown-item(href="#!") Харьков
              .dropdown#dd
                %a.dropdown-toggle(data-toggle="dropdown" href="#!" data-boundary= "dd")
                  РОД ЗАНЯТИЙ
                .dropdown-menu(aria-labelledby="dropdownMenuLink")
                  %a.dropdown-item(href="#!") Разнорабочий
                  %a.dropdown-item(href="#!") Безработный
                  %a.dropdown-item(href="#!") Самозанятый
                  %a.dropdown-item(href="#!") Предприниматель
                  %a.dropdown-item(href="#!") Ниндзя
              .dropdown#dd
                %a.dropdown-toggle(data-toggle="dropdown" href="#!" data-boundary= "dd")
                  ВИД ЗАЙМА
                .dropdown-menu(aria-labelledby="dropdownMenuLink")
                  %a.dropdown-item(href="#!") Безпроцентный
                  %a.dropdown-item(href="#!") Процентный
            .dropdown.sortirovka#d2
              %a.dropdown-toggle(data-toggle="dropdown" href="#!" data-boundary="d2")
                СОРТИРОВКА
              .dropdown-menu(aria-labelledby="dropdownMenuLink")
                %a.dropdown-item(href="#!") По имени
                %a.dropdown-item(href="#!") По дате
                %a.dropdown-item(href="#!") По месту жительства 
          %span.d-lg-none.text-for-gear Опции сортировки
          .gear.d-lg-none
            %picture
              %source(media="(min-width: 1200px)" srcset="img/sortScreen/gear-1200.png")
              %source(media="(min-width: 992px)" srcset="img/sortScreen/gear-992.png")
              %source(media="(min-width: 768px)" srcset="img/sortScreen/gear-768.png")
              %source(media="(min-width: 576px)" srcset="img/sortScreen/gear-576.png")
              %source(media="(max-width: 575px)" srcset="img/sortScreen/gear-576.png")
              %img.w-100(alt="gear" src="img/sortScreen/gear.png")           
        .search-results
          %p.search-results-text Результаты, не соответствующие условиям поиска
      .container.companies-list
        .unit
          .name-container.my-auto
            .exclusive 
              %span эксклюзив
            .logo
              %picture
                %source(media="(min-width: 1200px)" srcset="img/sortScreen/alex_credit-1200.png")
                %source(media="(min-width: 992px)" srcset="img/sortScreen/alex_credit-992.png")
                %source(media="(min-width: 768px)" srcset="img/sortScreen/alex_credit-768.png")
                %source(media="(min-width: 576px)" srcset="img/sortScreen/alex_credit-576.png")
                %source(media="(max-width: 575px)" srcset="img/sortScreen/alex_credit-576.png")
                %img.w-100(alt="Alex Credit" src="img/sortScreen/alex_credit.png")
            .name
              %span AlexCredit
          .calculation-contaner
            .calculations.my-auto.mx-auto
              .table-row
                .table-cell
                  %span.header-text К выплате
                  %span.amount.green 1080
                  %span.measure.green грн
                  %span.equality =
                .table-cell
                  %span.header-text Тело кредита
                  %span.amount 1000
                  %span.measure грн
                  %span.plus +
                .table-cell
                  %span.header-text Комиссия
                  %span.amount 80
                  %span.measure грн
              .table-row.with-borders
                .table-cell
                  %span.header-text 1й кредит
                  %span.amount 50 - 3000
                  %span.measure грн
                .table-cell
                  %span.header-text Макс. сумма
                  %span.amount 1000
                  %span.measure грн
                .table-cell
                  %span.header-text Срок
                  %span.amount 5 - 65
                  %span.measure дней
          .button-container
            .button.centered Получить кредит
    %script(src="js/libs.min.js")
    %script(src="js/script.js")